-e git+git://github.com/plotly/dash-core-components.git#egg=dash_core_components
-e git+git://github.com/plotly/dash-html-components.git#egg=dash_html_components
-e git+git://github.com/plotly/dash-renderer.git#egg=dash_renderer
-e git+git://github.com/plotly/dash-flow-example.git#egg=dash-flow-example
dash-dangerously-set-inner-html
percy
selenium
mock
tox
tox-pyenv
six
plotly>=2.0.8
requests[security]
flake8
pylint==2.1.1
astroid==2.0.4
